@keyframes eventBlockEnter {
  0% {
    opacity: 0;
    transform: scale(0.75) rotateY(180deg) translate(25%, 100%);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateY(0) translate(0, 0);
  }
}

@keyframes eventLocationEnter {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 0.3;
    transform: translateY(0);
  }
}
