<template>
    <div class="widget--transport widget">
        <p>YOU     GOT SOME TRANSPORT OPTIONS YO</p>
        <p>{{transportData}}</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            transportData: {}
        }
    },
    created() {
        
    }
}
</script>

<style lang="scss">

</style>
