<template>
  <div id="weather">
      <h1>{{condition}}</h1>
  </div>
</template>

<script>
export default {
  data() {
    return {
      weatherData: {}
    }
  },
  created() {
    let request = fetch('/api?data=weather').then(response => response.json());
    request.then(data => {
      this.weatherData = data;
    });
  },
  computed: {
    condition() {
      return this.weatherData.condition;
    }
  }
}
</script>

<style lang="scss">

</style>
