<template>
  <div id="clock">
      <h2 class="time">{{time}}</h2>
      <h4 class="date">{{todaysDate.weekday}} d. {{todaysDate.prettyDate}}</h4>
  </div>
</template>

<script>
export default {
  data() {
	  return {
          hours: new Date().getHours(),
          minutes: new Date().getMinutes(),
          time: ''
	  }
  },
  methods: {
      updateTime() {
        this.hours = new Date().getHours();
        this.minutes = new Date().getMinutes();

        this.time = this.hours.toDoubleDigit() + ':' + this.minutes.toDoubleDigit();

        requestAnimationFrame(this.updateTime.bind(this));
      }
  },
  created() {
    this.updateTime();
  },
  computed: {
	  todaysDate() {
		const DATE = new Date();
		const weekday = DATE.getDayName();
		const prettyDate = `${DATE.getDate()}. ${DATE.getMonthName()}`

		return {
			weekday,
			prettyDate
		};
	  }
  }
}
</script>

<style lang="scss">
#clock {
    .time {
        font-size: 120px;
        font-weight: 700;
    }
    .date {
        font-size: 40px;
        transform: translateX(5px);
    }
}
</style>
