<template>
  <div id="departures">
      <h2>Nærmeste afgange fra Emdrup St.</h2>
      <div class="departure" v-for="time in departures" :key="time.id + time.ti">
          <div class="departure__icon" :style="{backgroundColor: time.color}">{{time.name}}</div>
          <div class="departure__info">
            <h3 class="station">{{time.station}}</h3>
            <div class="time"><span :class="{delayed: time.rt}">{{time.ti}}</span><span v-if="time.rt" class="new-time"> - {{time.rt.dlt}}</span></div>
          </div>
      </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
    data() {
        return {}
    },
    created() {
        this.fetchDepartures();
        this.interval = setInterval(this.fetchDepartures.bind(this), 60000);
    },
    mounted() {

    },
    computed: mapState({
      departures: state => state.departures
    }),
    methods: {
      ...mapActions({
        fetchDepartures: 'fetchDepartures' // map `this.add()` to `this.$store.dispatch('increment')`
      }),
    }
}
</script>

<style lang="scss">
#departures {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
  }

  .departure {
      padding: 20px;
      display: flex;
      &:nth-child(even) {
          background-color: #eee;
      }

      &__icon {
          margin-right: 30px;
          height: 64px;
          width: 64px;
          font-size: 30px;
          font-weight: 900;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
      }
      &__info {
          .station {
              font-weight: 700;
              font-size: 30px;
          }
          .time {
            font-size: 24px;
            font-weight: 700;
            margin-top: 10px;
            opacity: 0.8;
            span {
                &.delayed {
                  opacity: 0.65;
                }
                &.new-time {
                    opacity: 1;
                    color: darken(#D65858, 15%);
                }
            }
          }
      }
  }
}
</style>
