<template>
  <div id="news">
    <h2>Nyheder</h2>
    <story :story="story" v-for="story in stories" :key="story.index"></story>
  </div>
</template>

<script>
import Story from './Story.vue';

export default {
  components: {
    Story
  },
  data() {
    return {
      stories: [
        {
          title: 'Tilbageblik: Tre arrangementer - Et par håndfulde indsigter og tips',
          date: '25.03.2018',
          excerpt: 'Med tre arrangementer på godt en uge satte DMJX fokus på (dele af) journalistikkens fremtid. Men hvad lærte vi egentlig?'
        },
        {
          title: 'Kursus-foto vinder Årets Pressefoto i Norge',
          date: '22.03.2018',
          excerpt: 'Et fotografi som Katinka Hustad har taget i forbindelse med en foto-masterclass på tværs af nordiske og russiske grænser har vundet prisen Årets Bilde i Norge. Fotoet er en del af bog-projektet ’Next to Me’'
        },
        {
          title: 'Ministerbesøg i Aarhus',
          date: '15.03.2018',
          excerpt: 'Uddannelses- og forskningsminister Søren Pind besøgte den 15. marts DMJX i Aarhus, hvor han blandt andet hørte studerende fortælle om livet på højskolen'
        },
        {
          title: '3.081 ansøgninger til DMJX',
          date: '15.03.2018',
          excerpt: 'Fristen for at søge en af højskolens 9 BA-uddannelser via kvote 2 udløb i dag. 2 ud af 3 af de 3.081 ansøgninger har en DMJX-uddannelse som 1. prioritet'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
#news {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  h2 {
    font-size: 40px;
    font-weight: 900;
  }
}
</style>
