<template>
  <div class="story">
    <h3 class="story__title">{{story.title}}</h3>
    <h4 class="story__date">{{story.date}}</h4>
    <p class="story__excerpt">{{story.excerpt}}</p>
  </div>
</template>

<script>
export default {
  props: ['story']
}
</script>

<style lang="scss">
.story {
  margin: 40px 0;
  &__title {
    font-weight: 700;
    font-size: 28px;
  }
  &__date {
    margin: 10px 0;
  }
  &__excerpt {
    line-height: 1.3;
    margin-top: 10px;
    font-size: 20px;
  }
}
</style>
