<template>
  <div id="widgets">
    <weather v-if="currentWidget == 'weather'"></weather>
    <transport v-if="currentWidget == 'transport'"></transport>
    {{counter}}
  </div>
</template>

<script>
import Weather from './Widgets/Weather.vue';
import Transport from './Widgets/Transport.vue';
import Urgent from './Widgets/Urgent.vue';
export default {
    components: {
        Weather,
        Transport,
        Urgent
    },
    data() {
      return {
        timeInterval: 20000,
        counter: 0,
        currentWidget: 'weather',
        widgets: ['weather', 'transport'],
      }
    },
    created() {

    },
    mounted() {
      setInterval(time => {
        this.counter++;
        let widget = this.counter > 1 ? this.counter % this.widgets.length : this.counter;
        this.currentWidget = this.widgets[widget];
      }, this.timeInterval)
    }
}
</script>

<style lang="scss">
#widgets {
  grid-column: 2 / 4;
}
</style>
