<template>
  <div id="event-details">
      <h1>{{event.summary}}</h1>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    props: ['id'],
    mounted() {
    },
    computed: {
        event() {
            return this.$store.getters.eventById(this.id);
        }
    }
}
</script>

<style lang="scss">
#event-details {
    grid-column: 1 / 4;
    height: 0;
    // margin-top: 60px;
    padding-right: 40px;    
    h1 {
        font-size: 100px;
        font-weight: 900;
    }
}
</style>
