<template>
  <div class="event" :class="eventClass" :style="eventStyle">
      <div class="event__progress" :style="progressStyle"></div>
      <h3 class="event__title">{{event.summary}}</h3>
      <h3 class="event__time">{{eventTime}}</h3>
      <h4 class="event__room">{{event.location}}</h4>
      <!-- <div class="info">
        <h3 class="event__title">{{event.title}}</h3>
        <h4 class="event__room">Lokale: {{event.room}}</h4>
      </div>
      <div class="event__time">
          <h3 class="time">{{event.time.start}} til {{event.time.end}}</h3>
      </div> -->
  </div>
</template>

<script>
export default {
  props: ['event'],
  data() {
    return {
      start: new Date(this.event.start.dateTime),
      end: new Date(this.event.end.dateTime),
      now: new Date(),
      progressStyle: {
          height: '0%'
      }
    }
  },
  created() {
    let timeElapsed = this.now - this.start;
    console.log(this.event.index);
    if (timeElapsed > 1) requestAnimationFrame(this.updateRemainingTime.bind(this));
  },
  computed: {
    eventStyle() {
      let animationDelay = (this.event.index / 10) * 2;
      return {
        'animation-delay': `${animationDelay}s`
      }
    },
    eventClass() {
      return 'event--'+this.event.type;
    },
    eventTime() {
      let start = {
        hours: this.start.getHours(),
        minutes: this.start.getMinutes()
      };
      let end = {
        hours: this.end.getHours(),
        minutes: this.end.getMinutes()
      };
      return `${start.hours}:${start.minutes.toDoubleDigit()} - ${end.hours}:${end.minutes.toDoubleDigit()}`;
    }
  },
  methods: {
    updateRemainingTime() {
      this.now = new Date();
      let eventDuration = this.end - this.start;
      let timeElapsed = this.now - this.start;
      let timeRemaining =  0 + (timeElapsed / eventDuration * 100);
      this.progressStyle.height = `${timeRemaining.toFixed(4)}%`;
      requestAnimationFrame(this.updateRemainingTime.bind(this));
    }
  }
}
</script>

<style lang="scss">
@import '../../../sass/animations';
.event {
    opacity: 0;
    background-color: #006699;
    border-radius: 5px;
    padding: 30px 30px 60px;
    margin-bottom: 40px;
    color: white;
    position: relative;
    overflow: hidden;
    transform-origin: 0 50%;
    animation: eventBlockEnter 1s cubic-bezier(.17,.67,.14,.97) forwards;
    &--meeting {
        background-color: #d50435;
        color: #d9cdc0;
    }
    &--course {
        background-color: #f4a89c;
        color: #0460a1;
    }
    &__progress {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      height: 0%;
      width: 100%;
      background: linear-gradient(to bottom, rgba(125, 125, 125, 0.90) 95%, rgba(125, 125, 125, 0) 100%);
    }
    &__title {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__room {
        font-size: 160px;
        font-weight: 900;
        opacity: 0.30;
        transform: translateY(100%);
        position: absolute;
        right: -10px;
        bottom: -30px;
        animation: eventLocationEnter 1s cubic-bezier(.18,.86,0,.95) 1.1s forwards;
    }
    &__time {
        font-size: 50px;
    }
}
</style>
