<template>
  <div id="schedule">
      <router-link v-for="event in events" :key="event.index" :to="'/event/'+event.id">
        <event-block :event="event"></event-block>
      </router-link>
  </div>
</template>

<script>
import EventBlock from './EventBlock.vue';
import { mapActions, mapState } from 'vuex';

export default {
    components: {
        EventBlock
    },
    data() {
        return {
        }
    },
    created() {
      gapi.load('client:auth2', this.fetchEvents);
    },
    computed: mapState({
      events: state => state.events
    }),
    methods: {
      ...mapActions({
        fetchEvents: 'fetchEvents' // map `this.add()` to `this.$store.dispatch('increment')`
      }),
    }
}
</script>

<style lang="scss">
#schedule {
  perspective: 800px;
  grid-column: 2 / 5;
}
</style>
