<template>
  <div id="app">
    <clock></clock>
    <!-- <widgets></widgets> -->
    <transition :name="transitionName">
      <router-view></router-view>
    </transition>
    <departures></departures>
  </div>
</template>

<script>
import Clock from './components/Clock.vue';
import Widgets from './components/Widgets.vue';
import Departures from './components/Departures.vue';
export default {
  name: 'app',
  components: {
    Clock,
    Widgets,
    Departures
  },
  data () {
    return {
      transitionName: 'slide-left'
    }
  },
  watch: {
    '$route' (to, from) {
      const toDepth = to.path.split('/').length
      const fromDepth = from.path.split('/').length
      console.log('to', toDepth, 'from', fromDepth);
      this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
    }
  }
}
</script>

<style lang="scss">
@import 'sass/reset';
#app {
  font-family: 'aller', Helvetica, Arial, sans-serif;
  // font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
  color: #2c3e50;
  padding: 40px;
  display: grid;
  grid-gap: 60px;
  grid-template-areas:
    'clock widgets'
    'schedule news';
  grid-template-rows: 160px auto;
  grid-template-columns: repeat(4, 1fr);
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 2s cubic-bezier(.5,.08,0,.99);
}

.slide-left-enter-active {
  transition-delay: 2s;
}

.slide-right-enter {
  opacity: 0;
  transform: translateX(-50%) scale(0.25);
}

.slide-right-leave-to {
  opacity: 0;
  transform: translateX(50%) scale(1.5);
}

.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-50%) scale(0.25);
}

.slide-left-enter {
  opacity: 0;
  transform: translateX(50%) scale(1.5);
}

a {
  text-decoration: none;
}
</style>
